/* background */

.vision__item1.parallax {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/item1.jpg");
}

.vision__item2.parallax {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/item2.webp");
}

.management.parallax {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/management.webp");
}

#banner {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/about.webp");
  background-size: cover;
  background-attachment: fixed;
  height: 35rem;
  display: flex;
  align-items: center;
  color:white;
}

.banner__textBox {
  width: 100%;
  padding-left: 15vw;
}

.banner__title {
  margin:0;
}

.banner__subtitle {
  margin:0;
}

#contact {
  display: flex;
  background-size: cover;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../images/contact.jpg");
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color:white;
}

.contact__container {
  display: flex;
  justify-content: space-between;
  width: 60rem;
}

.contact__title {
  margin-bottom: 3rem;
}

.contact__data {
  line-height: 1.4;
}

.contact__data__title {
  color: gray;
}

.contact__data__desc {
  margin-bottom: 2rem;
}

.contact__inputs {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contact__input {
  background: none;
  border: none;
  height: 2rem;
  border-bottom: 1px solid white;
  margin-bottom: 3rem;
}

.area {
  height: 10rem;
}

.contact__button {
  background: block;
  font-size: 1rem;
  padding:1rem;
  margin-top: 1rem;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.contact__button:hover {
  color:white;
  background: black;
  transition: 0.3s ease-out;
}

/* Vision*/

.vision{
  /* text-align: center; */
}

.main__title {
  margin-top: 7rem;
}

.greeting__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.greeting__profile {
  display: flex;
  align-items: center;
  width: 70rem;
}

.greeting__profile__image {
  width: 10rem;
  height: 12rem;
}

.greeting__profile__book {
  display: flex;
  width: 70rem;
}

.book__image {
  width: 12rem;
  height: 10rem;
  padding-top: 2rem;
  padding-left: 1rem;
}

.book__text {
  padding: 2rem 2rem 2rem 8rem;
  
  text-align: center;
}

.book__text > p {
  font-size: 1.5rem;
}

.greeting__intro {
  width: 80rem;
  padding: 0 10rem 0 10rem;
  font-size: 1.2rem;
  line-height: 1.5;
}

.vision__item1,
.vision__item2{
  display: flex;
  background-size: cover;
  background-attachment: fixed;
  margin-top:2rem;
}

.vision__item1{
  height: 70vh;
  justify-content: right;
}

.vision__item2{
  height: 40vh;
  justify-content: left;
}

.item1__description,
.item2__description {
  display: flex;
  background-color: var(--color-white);
  width: 40vw;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.item1__text {
  animation: slideninRight 1.3s;
}

.item2__text {
  animation: slideninLeft 1.3s;
}

/* Management Philosophy */

.management {
  text-align: center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}

.management__container {
  width: 100%;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white); 
}

.management__page {
  animation: pageFold 0.5s;
}

.management__iconbox {
  display: flex;
  justify-content: space-between;
  width: 50rem;
}

.management__content {
  width: 20rem;
}

.management__textbox {
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 55rem;
}

.management__text {
  width: 10rem;
}

.management__title {
  margin-bottom: 3rem;
}

.management__lists {
  text-align: left;
}

.management__list {
  list-style: disc;
}

/* Animation Keyframes */
@keyframes pageFold {
  from {
    opacity: 0;
    transform: translateX(5rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


@keyframes slideninRight {
  from {
    opacity: 0;
    transform: translateX(20rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideninLeft {
  from {
    opacity: 0;
    transform: translateX(-20rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}