/* footer */

#footer {
  /* height: 4rem; */
  background-color: black;
  color: gray;
  padding: 2rem 5rem 2rem 5rem;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__description {
  display: flex;
  justify-content: space-between;
  width: 15rem;
}

.footer__logo {
  width: 3rem;
}