/* footer */

#footer {
  background-color: black;
  color: gray;
  padding: 2vh 5vw 2vh 5vw;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
}

.footer__logo {
  width: 3rem;
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .footer__container {
    display: block;
  }
}