/* background image */
.slides__banner1{
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/slide1.webp");
}

.slides__banner2 {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/slide2.webp");
}

.slides__banner3 {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/slide3.webp");
}

.main__title {
  margin-top: 10rem;
}

/* Home */
.home {
  z-index: 0;
}

#slideShow {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slides {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.slides > li {
  width:100%;
  display: flex;
  align-items: center;
  padding: 10vw;
}

.slides__banner1,
.slides__banner2,
.slides__banner3 {
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner__title,
.banner__description {
  margin: 0;
}

.slide li:not(:last-child) {
  float: left;
}

.controller {
  position: absolute;
  display: flex;
  left:10vw;
  top:80vh;
  z-index: 2;
  align-items: center;
}

.slide__gauge {
  width: 10rem;
  height: 4px;
  background-color: var(--color-gray);
  margin: 1rem
}

.slide__count,
.slide__total {
  font-weight: var(--weight-blod);
}

.slide__count {
  color: var(--color-white);
}

.slide__total {
  color: var(--color-gray);
  margin-right:1rem;
}

.slide__gauge__value {
  transition: 700ms ease-out;
}

.arrow {
  display: flex;
  border: solid 1px white;
  border-radius: 50%;
  color: white;
  font-weight: var(--weight-blod);
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 0.3rem;
  cursor: pointer;
}

.arrow:hover {
  background-color: var(--color-white);
  color: var(--color-gray);
  transition: 0.5s;
}

/* My info market */

.myInfomarket__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem 0 10rem 0;
}

.myInfomarket__description {
  width: 30rem;
  line-height: 1.9;
}

.myInfomarket__description > h4{
  font-size: 1.2rem;
}

/* Main characteristic */

#main__char {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/main_char.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  /* height: 100vh; */
  color: white;
  padding: 10rem 0 10rem 0;
}

.main__char__container {
  width: 80rem;
  height: 80%;
}

.main__char__title {
  text-align: center;
  margin-bottom: 5rem;
  animation: 0.5s rightSlide;
}

.main__char__items {
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: space-between;
}

.main__char__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  padding: 1rem;
}

.item1 {
  animation: 0.5s rightSlide;
}
.item2 {
  animation: 1s rightSlide;
}
.item3 {
  animation: 1.5s rightSlide;
}

.main__char__img {
  width: 5rem;
}

.main__char__subtitle {
  text-align: center;
  margin: 2rem 1rem 2rem 1rem;
  font-size: 1.7vw;
}

.main__char__description {
  font-size: 1.2vw;
  line-height: 1.5;
}

@keyframes rightSlide {
  from {
    opacity: 0;
    transform: translateX(-5rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}