/* background image */
.slides__banner1{
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/slide1.webp");
}

.slides__banner2 {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/slide2.webp");
}

.slides__banner3 {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/slide3.webp");
}

.vision__item1.parallax {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/item1.jpg");
}

.vision__item2.parallax {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/item2.webp");
}

.management.parallax {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/management.webp");
}

.members.parallax {
  background-image: url("../images/banner.png");
}

.main__title {
  margin-top: 10rem;
}

/* Home */
.home {
  z-index: 0;
}

#slideShow {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slides {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.slides > li {
  width:100%;
  display: flex;
  align-items: center;
  padding: 10vw;
}

.slides__banner1,
.slides__banner2,
.slides__banner3 {
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner__title,
.banner__description {
  margin: 0;
}

.slide li:not(:last-child) {
  float: left;
}

.controller {
  position: absolute;
  display: flex;
  left:10vw;
  top:80vh;
  z-index: 2;
  align-items: center;
}

.slide__gauge {
  width: 10rem;
  height: 4px;
  background-color: var(--color-gray);
  margin: 1rem
}

.slide__count,
.slide__total {
  font-weight: var(--weight-blod);
}

.slide__count {
  color: var(--color-white);
}

.slide__total {
  color: var(--color-gray);
  margin-right:1rem;
}

.slide__gauge__value {
  transition: 700ms ease-out;
}

.arrow {
  display: flex;
  border: solid 1px white;
  border-radius: 50%;
  color: white;
  font-weight: var(--weight-blod);
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 0.3rem;
  cursor: pointer;
}

.arrow:hover {
  background-color: var(--color-white);
  color: var(--color-gray);
  transition: 0.5s;
}

/* Vision*/

.vision{
  /* text-align: center; */
}

.vision__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vision__description {
  margin-bottom:5rem;
}

.vision__description > h4 {
  width: 30rem;
  height: 30rem;
  cursor: pointer;
  word-wrap: break-word;
  animation: pageFold 1.3s;
}

.page__dot {
  display: flex;
  justify-content: center;
}

.dot1,
.dot2 {
  margin:5px;
  width: 10px;
  height:10px;
  border-radius: 50%;
  background: rgb(224, 224, 224);
}
.dotOn {
  background-color: var(--color-black);
}

.vision__item1,
.vision__item2{
  display: flex;
  background-size: cover;
  background-attachment: fixed;
  margin-top:2rem;
}

.vision__item1{
  height: 70vh;
  justify-content: right;
}

.vision__item2{
  height: 40vh;
  justify-content: left;
}

.item1__description,
.item2__description {
  display: flex;
  background-color: var(--color-white);
  width: 40vw;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.item1__text {
  animation: slideninRight 1.3s;
}

.item2__text {
  animation: slideninLeft 1.3s;
}

/* Management Philosophy */

.management {
  text-align: center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}

.management__container {
  width: 100%;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white); 
}

.management__page {
  animation: pageFold 0.5s;
}

.management__iconbox {
  display: flex;
  justify-content: space-between;
  width: 50rem;
}

.management__content {
  width: 20rem;
}

.management__textbox {
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 55rem;
}

.management__text {
  width: 10rem;
}

.management__title {
  margin-bottom: 3rem;
}

.management__lists {
  text-align: left;
}

.management__list {
  list-style: disc;
}

/* Team */
.team {
  text-align: center;
  margin: auto;
}

.members {
  display: flex;
  width: 100%;
  height: 50rem;
  background-size: cover;
  background-attachment: fixed;
  justify-content: space-between;
  align-items: center;

}

.member__CEO {
  width: 60rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.CEO__profile {
  margin:2rem;
  text-align: left;
  color: var(--color-white);
}

.CEO__name {
  margin:0;
}

.CEO__univ{
  margin:0;
}

.CEO__ing {
  margin-top: 1rem;
}

.members__container {
  text-align: left;
  background-color: var(--color-white);
  width: 70%;
  height: 100%;
  overflow: auto;
  padding-left: 5rem;
  -ms-overflow-style: none;
}

.memberbox {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.member__title {
  border-bottom: solid 2px var(--color-black);
  width: 20rem;
}

.members__container::-webkit-scrollbar{
  display:none;
}

.member {
  display: flex;
  margin:1rem;
  box-shadow: 10px 10px 10px 10px #f5f5f5;
  width: 18rem;
  height: 13rem;
  border-radius: var(--border-radius);
}

.member__avatar > img {
  border-radius: var(--border-radius);
  width: 8rem;
  height: 13rem;
}

.member__profile {
  width: 8rem;
  padding:1rem;
  text-align: center;
}

.member__name {
  margin:0;
}

.member__position {
  margin:0;
  color: var(--color-lightBlue);
}

.member__career {
  width: 100%;
  word-wrap: break-word;
  text-overflow:clip;
  height: 5rem;
}

/* Animation Keyframes */
@keyframes pageFold {
  from {
    opacity: 0;
    transform: translateX(5rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


@keyframes slideninRight {
  from {
    opacity: 0;
    transform: translateX(20rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideninLeft {
  from {
    opacity: 0;
    transform: translateX(-20rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}