#banner {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/service.webp");
  background-size: cover;
  background-attachment: fixed;
  height: 35rem;
  display: flex;
  align-items: center;
  color:white;
}

.banner__textBox {
  width: 100%;
  padding-left: 15vw;
}

.banner__title {
  margin:0;
}

.banner__subtitle {
  margin:0;
}

/* Service */
#service {
  padding-top: 10rem;
}

.service__item {
  display: flex;
  height: 30rem;
  margin-bottom: 10rem;
}

.service__description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
}

.service__text {
  padding: 1rem;
  width: 30rem;
  font-size: 1.2rem;
  line-height: 1.9;
}

.service__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  color: white;
}

.service__image__title {
  padding:1rem;
}


.img1 {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../images/baas.webp");
  background-size: cover;
  background-attachment: fixed;
}

.img2 {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../images/api_service.webp");
  background-size: cover;
  background-attachment: fixed;
}

/* Keyword */

#keyword {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/api.webp");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
}

.keyword__item__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40rem;
  height: 40vh;
}

.keyword__item__box {
  position: relative;
}

.keyword__item__image {
  position: absolute;
  top: -1rem;
  left: -3rem;
  z-index: 0;
  opacity: 0.3;
}

.keyword__item__text {
  position: relative;
  width: 20rem;
  z-index: 1;
}

.text__list > li {
  list-style: disc;
  font-size: 1.2rem;
}

.phone1 {
  display: none;
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  #service {
    padding-top: 3rem;
  }

  .banner__title {
    width: 80vw;
    font-size: 10vw;
  }
  
  .banner__subtitle {
    width: 80vw;
    font-size: 4vw;
  }

  .service__item {
    display: block;
  }

  .phone1 {
    display: block;
  }

  .phone2 {
    display: none;
  }

  .service__description {
    width: 100vw;
  }

  .service__image {
    /* color: black; */
    width: 100vw;
  }

  .service__description .service1 {
    display: flex;
  }

  #keyword {
    display: block;
    height: auto;
  }

  .keyword__item__container {
    width: 100%;
  }
}
